*{
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: black;
    color: white;
}
/* Change this idanis */
.main-container{
    height: 2000px;
}
/* Page titles */
.page-title{
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}
/* header.inc.php - it contains the nav bar */
.nav-container{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-container{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 30px;
}
.logo-img{
    height: 100%;
}
.logo-txt{
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    letter-spacing: 2px;
}
#logout{
    color: #2E4053;
    margin-left: 20px;
}
#logout:hover{
    color: #239B56;
}
.nav-links{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.nav-a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
.nav-a:hover{
    color: gray;
}
.nav-link{
    padding-right: 16px;
    list-style: none;
}

/* products page */
.products-container{
    padding-top: 50px;
    display: flex;
    width: 500px;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.link-cont{
    height: 200px;
    width: 200px;
    border: 5px black solid;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.link-cont:hover{
    background-color: black;
    cursor: pointer;
}
.link-a:hover{
    display: block;
    height: 100%;
    width: 100%

}
.link-a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 0;
}

/* Login forms and buttons */
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-c{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-input{
    /* width: 50%; */
    /* width: 100px; */
    border: 2px solid black;
    height: 40px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 16px;
    color: black;
    text-align: center;
}
.form-input::placeholder{
    color: #808080;
    font-size: 16px;
    padding-left: 10px;
}
.form-input:focus{
    /* border: 0; */
    border: 2px solid #808080;
    outline: none;
}
.txt-area{
    height: 100px;
    resize: none;
}
/* styling for buttons */
.btn{
    width: 30%;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}
.sub-btn{
    border: black 2px solid;
}
.sub-btn:hover{
    background-color: black;
    color: white;
}
.sub-btn-long{
    width: 45%;
}
.btns-container{
    display: flex;
    flex-direction: row;
}
/* .btns-container > .btn{
   margin-left: 10px;
} */
.btn-danger{
    border: solid 3px red;
    color: red;
    margin-left: 10px;
}
.btn-danger:hover{
    background-color: orangered;
}
.sub-btn-small{
    font-size: 12px;
    width: 40%;
}
.btns-container-small{
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.validation-txt{
    display: none;
    padding: 10px;
    margin-bottom: 20px;
}
.main-section1{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url("bnw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
}
.main-section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-subtitle{
    text-align: center;
    padding: 10px;
}
.msg-container{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    height: 200px;
}
.actual-msg{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.msg-author{
    font-size: 16px;
}
.msg-date{
    font-size: 12px;
}
.l-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-link{
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #212F3C;
    font-size: 20px;
    border-bottom: 1px solid #212F3C;
}
.msg-link{
    margin-top: 50px;
}
.page-link:hover{
    color: #5D6D7E;
    border-bottom: 1px solid #5D6D7E;

}
/* Upload button stuff */
.uploadbtn-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

}
.upload-btn{
    border: solid 2px black;
    font-size: 16px;
    margin-bottom: 20px;
}
.upload-btn:hover{
    background-color: black;
    color: white;
}
.form-upload{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.form-op{
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 20px;
    height: 30px;
}
/* Search bar */
.search-form{
    display: flex;
    flex-direction: row;
}
.search-input{
    width: 300px;
    margin-right: 20px;
    border-top: 0;
    border-left: 0;
}
.search-input:focus{
    outline: none;
    border: black 2px solid;
    border-top: 0;
    border-left: 0;
}
/* list of products */
.products{
    padding-top: 50px;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.prod-cont{
    border: 1px solid #D6DBDF;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.pro-img{
    width: 60%;
    height: 60%;
    margin-bottom: 10px;
}
.stock{
    padding-bottom: 10px;
}
.prod-title{
    text-decoration: none; 
    color: #34495E;
    margin-bottom: 5px;
    font-size: 16px;
}
.prod-title:hover{
    text-decoration: underline; 
}
.prod-price{
    font-size: 20px;
}
